@use '@tabler/icons-webfont/dist/tabler-icons.min.css';
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

app-root {
  display: block;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
